@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.card {
  width: 100%;
  border-radius: 8px;
  position: absolute;
  top: 16px;
  left: 0;
  right: 0;
  touch-action: none;
  background: white;
  transform-origin: 50% 100%;
  will-change: transform, opacity;
  @include materialShadow();
  .imageContainer {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
      height: 100%;
      border-radius: 8px 8px 0 0;
      object-fit: cover;
    }
    .noImage {
      width: 100%;
      font-size: 24px;
      font-weight: bold;
    }
  }
  .bottomContents {
    padding: 16px;
    text-align: left;
    .providerInfo {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 8px;
      .genre {
        display: inline-block;
        font-size: 12px;
        font-weight: bold;
        border: 1px solid $darkGray;
        padding: 2px 8px;
        border-radius: 4px;
        color: $darkGray;
        margin-right: 8px;
      }
      .provider {
        font-size: 12px;
        font-weight: bold;
        color: $darkGray;
      }
    }
    .heading {
      $fontSize: 16px;
      $lineHeight: $fontSize * 1.5;
      height: calc(#{$lineHeight} * 3);
      line-height: $lineHeight;
      text-align: left;
      font-size: $fontSize;
      font-weight: bold;
      @include text-reader(3);
    }
    .postedDateContents {
      text-align: right;
      padding: 8px;
      .postDate {
        color: $darkGray;
        font-size: 12px;
        margin-right: 4px;
      }
      .dateLabel {
        color: $darkGray;
        font-size: 12px;
      }
    }
  }
}
.isAnimating {
  transition: transform 0.7s, max-height 0.7s;
}

$cardsPositionOffset: 10px;
$cardsScaleOffset: 0.08;
$cardsTotal: 10;

@for $i from 1 through $cardsTotal {
  $index: $i - 1;
  $translation: $cardsPositionOffset * $index;
  $scale: 1 - ($cardsScaleOffset * $index);
  .card:nth-child(#{$i}) {
    z-index: $cardsTotal - $index;
    opacity: 1;
    transform: translateY($translation) scale($scale);

    @if $i >= 4 {
      display: none;
    }

    @if $i != 1 {
      overflow: hidden;
    }
  }
}