@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.cards {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  position: relative;
}

.labelContainer {
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .label {
    opacity: 0;
    font-size: 12px;
    font-weight: bold;
    transition: 0.7s;
    background: gray;
    padding: 8px;
  }
  .isDisplay {
    opacity: 1;
  }
}