@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.genreListContents {
  padding: 16px;
  a {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    background: $mainColor;
    border-radius: 8px;
    padding: 12px;
    font-weight: bold;
    color: $fontColor;
    margin-bottom: 12px;
    @include materialShadow();
  }
}
