@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.mainContents {
  width: 100vw;
  max-width: 500px;
  .stocksContents {
    padding: 16px;
  }
  .linksContents {
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    a {
      box-sizing: border-box;
      display: inline-block;
      width: 80%;
      margin: 0 auto;
      background: $mainColor;
      border-radius: 8px;
      padding: 12px;
      font-weight: bold;
      color: $fontColor;
      @include materialShadow();
    }
  }
}
