@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.title {
  color: $mainColor;
}

.mainContents {
  position: relative;
  width: 100vw;
  max-width: 500px;
  color: $fontColor;
}
