@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.title {
  color: $mainColor;
}

.mainContents {
  width: 100vw;
  max-width: 500px;
  height: 100vh;
  background: $backgroundColor;
}

.cardsContents {
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
}
