@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.title {
  color: $mainColor;
}

.mainContents {
  width: 100vw;
  max-width: 500px;
  height: 100vh;
  background: $backgroundColor;
}

.cardsContents {
  width: 100%;
  height: 500px;
  padding: 16px;
  box-sizing: border-box;
}

.stocksContents {
  padding: 12px;
  display: flex;
  justify-content: flex-end;
}

.genreListContents {
  padding: 16px;
  a {
    box-sizing: border-box;
    display: inline-block;
    width: 80%;
    margin: 0 auto;
    background: $mainColor;
    border-radius: 8px;
    padding: 12px;
    font-weight: bold;
    color: white;
    margin-bottom: 12px;
    @include materialShadow();
  }
}
